{% extends 'base.html.twig' %}

{% block title %}Liste des surviviants{% endblock %}

{% block body %}
<main>
    <div class="filter">
        <form class="formFilter" method="get" action="{{ path('app_filtre_survivant') }}">
            <div>
                <h4>Races</h4>
                {% for race in races %}
                    <label>{{ race.RaceName }} </label>
                    <input type="checkbox" name="race" value="{{ race.RaceName }}">
                {% endfor %}
            </div>
            <div>
                <h4>Classes</h4>
                {% for classe in classes %}
                    <label>{{ classe.ClassName }} </label>
                    <input type="checkbox" name="class"  value="{{ classe.ClassName }}">
                {% endfor %}
            </div>
            <div>
                <h4>Puissance</h4>
                    <input type="number" name="puissance">
                </div>
            <button type="submit">Apply filters</button>

        </form>
    </div>

    
    <section id="survivants" >
        {% for survivant in survivants %}

        {# SURVIVANT CARDS #}
        <article>   
            <div class="top-card">
                <img src="{{asset('images/' ~ survivant.image)}}" alt="portrait du survivant {{survivant.nom}}">  
                <div class="description">
                <h2>{{survivant.nom }}({{survivant.race.raceName }})</h2>
                {{survivant.description | raw }}
                </div>   
            </div>        
            <div class="classlogo">
                {% for classe in survivant.classe %}
                    <img src="{{asset('images/class/' ~ classe.className ~'.png')}}" title="{{classe.className}}" alt="icone pour la classe {{classe.className}}">
                {% endfor %}
                    <span class="puissance">puissance: {{survivant.puissance }}</span>
            </div>
        
        </article>
        {# END SURVIVANT CARDS #}
        {% endfor %}
    </section>
</main>
{% endblock %}
